{% extends "base.html" %}

{% block content %}
  <div>
    <h1>Zutatenseite</h1>

    <form action="{{ url_for('rezepte') }}" method="POST">
      {% for z in zutaten %}
        <div>
          <label>
            <input type="checkbox" name="zutat_ids" value="{{ z.id }}">
            {{ z.name }}
          </label>
        </div>
      {% endfor %}

      <br>
      <button type="submit" class="btn btn-pink">Rezepte anzeigen</button>
      <a href="/" class="btn btn-secondary">Zurück</a>
    </form>
  </div>
{% endblock %}
